<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Streaming</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        #video {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <div>
        <img id="video" src="{{ url_for('video_feed') }}" alt="Video Stream">
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>